[Unit]
Description=Hqueue client service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
UMask=0002
User=hquser
Group=hqgroup

WorkingDirectory=/home/hquser/hqclient
ExecStart=/home/hquser/hqclient/bin/python hqnode.py  -n -s http://hq-server-internal:5000

#ExecStart=/home/hquser/hqclient/bin/python hqnode.py  --name hq  -n -s http://hq-server-internal:5000

[Install]
WantedBy=multi-user.target
