[Unit]
Description=Hqueue service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
# need to change this to be hquser
User=hquser
ExecStart=/opt/hqueue/python/bin/python3.11 /opt/hqueue/hqserver/manage.py serve

[Install]
WantedBy=multi-user.target
